
/* navbar section */
 .navbar-brand {
      color: var(--white) !important;
    
    }
    
  li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-underline-offset: 4px; 
 }

.container-fluid{
    background-color: var(--primary-blue);
}

.navbar-nav{
    color: var(--black);
    font-weight: bold;
}

/* hero section-start */

.hero{
  text-align: justify;
  justify-items: center;
}

.herorow{
  background-color: var(--white) !important;
}

.buttoncolor:hover{
  
  background-color:black;
  color:white !important;
}

/* resume section start */

.resume{
  background-color: var(--primary-blue);
  color: var(--white);
}

/* Experience pragrapgh */
.paragraphedit{
   text-align: justify;
}

.resumepraragraph{

  text-align: justify;
}

/* Profesion and softkill Hover */
.contentedit:hover{
  background-color: blue;
  color: var(--white);
}